*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root
{
  --ff-desktop:'Roboto', sans-serif;
  --ff-heading:'Staatliches', cursive;
  --ff-texting:'Palanquin',sans-serif;

  --hue:230;

  --fc-texting:hsl(var(--hue), 84%, 12%);
  --fc-heading:hsl(var(--hue), 17%, 35%);
  
  font-size: 62.5%;
  --fs-heading:4rem;
  --fs-text:2rem;
}

body
{
  background-color: hsla(233, 100%, 97%, 1);
}
.page
{
  
  max-width: 33rem;
  margin: 0 auto 6rem;
  padding: 0;
}
.card img
{
  object-fit: cover;
  width: 100%;
  
}
header
{
  background-color: hsl(var(--hue), 17%, 62%);
  width: 100%;
  height: 27.9rem;
  text-align: center;
  padding-top: 3.2rem;
  
}
header img
{
 margin-bottom: 2rem;
}
header h1
{
  font-family:var(--ff-heading);
  
  font-weight:400;
  font-size:var(--fs-heading);
  line-height:3.4rem;

  height: 4.9rem;

padding-top: 0.8rem;
letter-spacing: 0.05em;

color: hsl(var(--hue), 100%, 100%);

text-shadow: 0px 2px 2px hsl(var(--hue), 0%, 0%, 0.466);
background-color: hsl(275, 18%, 79%)
}
p
{
  font-family: var(--ff-texting);
  font-size: var(--fs-text);
  color: var(--fc-texting);
  text-align: center;
  width:30.5rem;
  line-height:3rem;
}
main
{
  display: grid;
  gap:3.2rem;
}

.card:hover
{
  transform: scale(1.1);
  transition: 200ms;
  
}
.card
{
  position: relative;
  font-family: var(--ff-heading);
  
  
  
  animation: downtop 700ms;

  transition: 300ms;

  
}

.card h2
{
  display: flex;
  font-weight: 400;
  justify-content: space-around;
  font-size: 2rem;
  line-height: 3.4rem;
  letter-spacing: 0.05em;
  color: hsl(var(--hue), 17%, 35%);
  background-color:hsla(312, 91%, 96%, 1);
  border-radius: 20px;
  width: 11.2rem;
  height: 3.5rem;
  padding-top: 0.1rem;
  
  position: absolute;
  
  top: 1.6rem;
  right: 1.6rem; 

  animation: topdown 700ms;
}
@keyframes downtop
{
 0%
 {
  opacity: 0;
  transform: translateY(35px);
 }
 100%
 {
  opacity: 1;
 }
}
@keyframes topdown
{
  0%
  {
    opacity: 0;
    transform: translateY(-55px);
  }
  50%
  {
    opacity: 0.5;
  }
  100%
  {
    opacity: 1;
    transform: translateY(0);
  }
}


